* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  /* background-image: url(./pexels-cottonbro-6153362.jpg); */
  background-size: cover;
  background-position: center center;
  color: white;
  /* background-color: grey; */
  /* background-color: linear-gradient(to right bottom, #845ec2); */
  /* background: linear-gradient(
    90deg,
    rgba(46, 5, 23, 1) 0%,
    rgba(134, 6, 13, 1) 100%
  ); */
  background: linear-gradient(
    90deg,
    rgba(105, 0, 0, 1) 0%,
    rgba(46, 5, 23, 1) 100%
  );
  height: 100%;
  position: relative;
}

nav {
  background-color: white;
  padding: 15px 0;
  box-shadow: 0 6px 6px rgba(109, 106, 106, 0.6);
  /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
  background: linear-gradient(
    90deg,
    rgba(176, 1, 1, 1) 0%,
    rgba(115, 31, 35, 1) 100%
  );
}

nav ul {
  list-style-type: none;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: flex-end;
  margin-right: 55px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 16px;
}

button {
  background: none;
  border-style: none;
  color: white;
}

button:hover {
  color: black;
}

a:hover {
  color: black;
}

main {
  /* background-color: white; */
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 25rem; */
  /* margin: 16rem; */
}

footer {
}

#info {
  font-size: 17px;
}

section {
  width: 40vw;
  max-width: var(--fixed-width);

  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  /* box-shadow: var(--light-shadow); */
  box-shadow: 0 10px 40px rgba(20, 20, 20, 0.8);
  transition: var(--transition);
  text-align: center;
  color: white;
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

html {
  overflow: hidden;
}

footer {
  position: absolute;
  bottom: 0;
}

footer p {
  font-size: 12px;
}
